.navbar {
    width: 100%;
    height: var(--navbar-height);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 40px;
    padding: 20px;
    background-color: var(--inverted-bg-color);
}
